<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Q software{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>User: {{ app.user.firstname }} {{ app.user.lastname }} </p>
                <p>Email: {{ app.user.email }}</p>

                <a href="{{ path('index') }}">Homepage</a>
                <a href="{{ path('authors') }}">Authors</a>
                <a href="{{ path('book_add') }}">Add book</a>
                <a href="{{ path('user_logout') }}">Logout</a>

            {% else %}
                <a href="{{ path('user_login') }}">Login</a>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
